In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('/private/wuchenpeng/projects/high-molecular/data/1_聚合反应更新数据 - 加入新数据.xlsx')
data.columns = data.iloc[0]
data = data.drop(0)

In [3]:
data

0     redox     azo   fe     ybc  温度  浓度 AMPS          [n] 转化率（%）
1         0       0    0       0   0  15   10            0      0
2    0.0001  0.0001  0.5  0.0001   5  15   10            0      0
3     0.001   0.001    1   0.001  10  15   10         1120     71
4      0.01    0.01  1.5    0.01  15  15   10         1385     80
5       0.1     0.1    2     0.1  20  15   10          240    100
..      ...     ...  ...     ...  ..  ..  ...          ...    ...
192       0   0.012    0       0  50  16    0  1166.449073     98
193       0  0.0045    0       0  56  19    0  1256.825022     97
194       0   0.007    0       0  53  19    0  1339.660705     98
195       0  0.0095    0       0  50  19    0   1251.14982     96
196       0   0.012    0       0  47  19    0  1269.970583     99

[196 rows x 9 columns]

In [4]:
data = data.astype('float64')

In [5]:

# 假设 df 是你的 DataFrame
columns_to_check = ['redox', 'azo', 'fe', 'ybc', '温度', '浓度', 'AMPS']

In [6]:
df = data.iloc[:, :7]

In [7]:
df

0     redox     azo   fe     ybc    温度    浓度  AMPS
1    0.0000  0.0000  0.0  0.0000   0.0  15.0  10.0
2    0.0001  0.0001  0.5  0.0001   5.0  15.0  10.0
3    0.0010  0.0010  1.0  0.0010  10.0  15.0  10.0
4    0.0100  0.0100  1.5  0.0100  15.0  15.0  10.0
5    0.1000  0.1000  2.0  0.1000  20.0  15.0  10.0
..      ...     ...  ...     ...   ...   ...   ...
192  0.0000  0.0120  0.0  0.0000  50.0  16.0   0.0
193  0.0000  0.0045  0.0  0.0000  56.0  19.0   0.0
194  0.0000  0.0070  0.0  0.0000  53.0  19.0   0.0
195  0.0000  0.0095  0.0  0.0000  50.0  19.0   0.0
196  0.0000  0.0120  0.0  0.0000  47.0  19.0   0.0

[196 rows x 7 columns]

In [8]:

# 筛选出所有重复的行（包括第一次出现的）
duplicate_rows_inclusive = df[df.duplicated(keep=False)]

In [9]:
duplicate_rows_inclusive

Empty DataFrame
Columns: [redox, azo, fe, ybc, 温度, 浓度, AMPS]
Index: []